*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

#Home,#About,#Services,#Portfolio,#Team,#Pricing{
	padding-top: 60px;
}

/* menubar */
.sec1-menubar{
	display: none;
}
.menubar{
	display: none;
}
.menubar{
	position: fixed;
	top:0px;
	right:0px; 
	background-color:white;
	height:100vh;
	z-index: 99999;
}
.menubar-ul {
	margin-top: 30px;
}
.menubar-ul li{
	list-style-type: none;
	padding: 10px 0px;
}
.menubar-ul li a{
	text-decoration: none;
	color:black;
	font-size: 19px;
}
.menubarBlock{
	display: block!important;
}
/* */


.container{
	width:100%;
	padding:0 15px;
}
/*header-container-nav*/
.bgcolor-1{
	background-color:whitesmoke; 
}
#pos-sticky{
	position:sticky;
	top:0;
	z-index:1;
}
.flex-parent{
	display:flex;
	flex-wrap:wrap;
	justify-content: space-between;
	align-items: center;
}
.child-head-2{ 
	display:flex;
	justify-content:end;
	align-items:center;
}
.child-nav{ 
	display:flex;
	justify-content:space-evenly;
	align-items:center;
}
.child-nav a{
	text-decoration:none;
	color:black;
	font-size:18px;
}
.child-nav-1{
	display:inline-block;
	position: relative;
}
.child-nav-1::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #41a1ef;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.4s ease-in-out;
}
.child-nav-1:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.child-nav-1:hover{
	color:#41a1ef;
	transition:all .4s ease-in-out;
}
#get-started-btn{
	border:1px solid #41a1ef;
	color:white;
	background-color:#41a1ef;
	border-radius:12px;
	text-align:center;
	padding:5px 10px;
}
#get-started-btn:hover{
	background-color:#2c52ff;
	transition:all .4s ease-in-out;
}
/*header-container-nav*-ended*/
.sec-1-div-1-parent{
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content: space-between;
}
.sec-1-div-1 h1{
	font-size:40px;
	padding:40px 0px; 
}
.sec-1-div-1 p{ 
	padding-bottom:20px; 
}
.sec-1-div-1 a{
	border:1px solid #41a1ef;
	color:#41a1ef;
	border-radius:22px;
	background-color:white;
	padding:10px;
	text-decoration:none;
}
.sec-1-div-1 a:hover{
	background-color:#41a1ef;
	color:white;
	transition:all .3s ease-in-out;
}
.sec-1-div-2{ 
	padding:20px;	
}

.animated{
	animation: up-down 2s ease-in-out infinite alternate-reverse;
}
@keyframes up-down{
	0%{
		transform:translateY(10px);
	}
	100%{
		transform:translateY(-10px);
	}
}
.img-fluid{
	max-width:100%;
	height:auto;
} 
.bg-color-sec-2{
	background-color:#f3f9fd;
}
.sec-2-div-1-parent{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
}
.sec-2-child1{
	text-align: center;
	filter:grayscale(100%);
	padding:10px 0;
	transition:all .2s ease-in-out;
}
.sec-2-child1:hover{
	filter:grayscale(0%);
}
/**/
.sec3-heading{
	text-align:center;
}
.sec3-heading h2{
	display:inline-block;
	position:relative;	
}
.sec3-heading h2::before{
	content:"";
	position:absolute;
	bottom:13px;
	left:-60px;
	height:2px;
	width:55px;
	background-color:#41a1ef;
}
.sec3-heading h2::after{
	content:"";
	position:absolute;
	bottom:13px;
	right:-60px;
	height:2px;
	width:55px;
	background-color:#41a1ef;
}
.sec3-parent-flex{
	display:flex;
	flex-wrap:wrap;
}
.sec3-child-1{
	padding:20px 10px;
	line-height:25px;
	font-size:18px;
}
.list-1-sec3{
	list-style-type:none;
	padding-top:15px;
	line-height:30px;
}
.list-1-sec3 p{ 
	display:inline-block;
	text-indent:10px;
}
.sec3-child-1 img{
	width:80%;
	padding-top:20px;
}
.fa.fa-check-square-o{
	color:#41a1ef;
}
.sec3-child-2{ 
	padding:20px 10px;
	line-height:25px; 
}
.button-sec3{
	padding-top:20px;
	padding-bottom:40px;
}
.sec3-child-2 a{
	text-decoration:none;
	border:1px solid #41a1ef;
	background-color:white;
	color:#41a1ef;
	padding:10px;
	border-radius:22px;
}
.sec3-child-2 a:hover{
	background-color:#41a1ef;
	color:white;
	transition:all .6s ease-in-out;
}
.icons-1-sec3-parent{
	display:flex;
	flex-wrap:wrap;
}
.icon-width{
	width:20%;
	font-size:40px;
	color:#41a1ef;
}
.icon-content{
	width:80%;
}
.icon-content h1{
	padding-bottom:10px;
}
.icon-content p{
	font-size:16px;
}

/*section 4*/

.sec4-heading{
	text-align:center;
	padding:20px 0;
}
.sec4-heading h2{
	display:inline-block;
	position:relative;	
	
}
.sec4-heading h2::before{
	content:"";
	position:absolute;
	bottom:13px;
	left:-60px;
	height:2px;
	width:55px;
	background-color:#41a1ef;
}
.sec4-heading h2::after{
	content:"";
	position:absolute;
	bottom:13px;
	right:-60px;
	height:2px;
	width:55px;
	background-color:#41a1ef;
}
.sec4-heading p{
	padding:20px 0;
}
.sec4-parent{
	display:flex;
	flex-wrap:wrap;  
}
.sec4-child{ 
	margin: 10px;
	box-shadow:0 0 5px #ccc;
	padding:20px;
	border-radius:6px;
	position: relative;
	overflow: hidden;
}
.sec4-child p{
	color:grey;
}
.service-bg{
	position:relative;
	height:75px;
	width:75px;
	top:0;
	left:0;
	background-color:#41a1ef;
	border-radius:50%;
}
.service-bg1{
	position:relative;
	height:75px;
	width:75px;
	top:0;
	left:0;
	background-color:#41a1ef;
	border-radius:50%;
}
.service-bg i{
	position:absolute;
	top:18px;
	left:18px;
	font-size:40px;
	color:white;
}
.service-bg1 i{
	position:absolute;
	top:8px;
	left:18px;
	font-size:40px;
	color:white;
}
.sec4-child::before{
	content: "";
    position: absolute;
    background: #e1f0fa;
    right: -60px;
    top: -40px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    transition: all 0.3s;
    z-index: -1;
}
.sec4-child:hover::before{
	background: #3498db;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0px;
}
.sec4-child:hover i{
	color:#41a1efc2;
	transition:all .3s ease-in-out;
}
.sec4-child:hover h4{
	color:white;
	transition:all .3s ease-in-out;
}
.sec4-child:hover p{
	color:white;
	transition:all .3s ease-in-out;
}
.sec4-child:hover .service-bg{
	background-color:white;
	transition:all .3s ease-in-out;
}
.sec4-child:hover .service-bg1{
	background-color:white;
	transition:all .3s ease-in-out;
}
/*setion-4 sub started*/
.sec4-sub-parent{
	display:flex;
	flex-wrap:wrap; 
}
.sec4-sub-child-width-padding{
	padding:10px;
}
.sec4-sub-child{
	width:100%;
	height:35vh;
	background-image:url('../image/more-services-1.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	border-radius:10px;
	position:relative;
}
.sec4-sub2-child{
	width:100%;
	height:35vh;
	background-image:url('../image/more-services-2.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	border-radius:10px;
	position:relative;
}
.sec4-sub3-child{
	width:100%;
	height:35vh;
	background-image:url('../image/more-services-3.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	border-radius:10px;
	position:relative;
}
.sec4-sub4-child{
	width:100%;
	height:35vh;
	background-image:url('../image/more-services-4.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	border-radius:10px;
	position:relative;
}
.sec4-sub-child-cnt{
	position:absolute;
	bottom:10px;
	margin: 0 25px;
	border-radius:10px;
	padding:20px;
	box-shadow:0 0 2px #ccc;
	background-color:rgba(255, 255, 255, 0.9);
}
.sec4-sub-child-cnt h2{
	text-align:center;
}
.sec4-sub-child-cnt p{
	padding-bottom:10px;
}
.sec4-sub-child-cnt i{
	padding-right:8px;
 
}
.sec4-sub-child:hover .sec4-sub-child-cnt,.sec4-sub2-child:hover .sec4-sub-child-cnt,.sec4-sub3-child:hover .sec4-sub-child-cnt,.sec4-sub4-child:hover .sec4-sub-child-cnt{
	background-color:#3E83EE;
	transition:all .3s ease-in-out;
}
.sec4-sub-child:hover .sec4-sub-child-cnt h2,.sec4-sub2-child:hover .sec4-sub-child-cnt h2,.sec4-sub3-child:hover .sec4-sub-child-cnt h2,.sec4-sub4-child:hover .sec4-sub-child-cnt h2{
	color:white;
	transition:all .3s ease-in-out;
}
.sec4-sub-child:hover .sec4-sub-child-cnt p,.sec4-sub2-child:hover .sec4-sub-child-cnt p,.sec4-sub3-child:hover .sec4-sub-child-cnt p,.sec4-sub4-child:hover .sec4-sub-child-cnt p{
	color:white;
	transition:all .3s ease-in-out;
}
.sec4-sub-child:hover .sec4-sub-child-cnt i,.sec4-sub2-child:hover .sec4-sub-child-cnt i,.sec4-sub3-child:hover .sec4-sub-child-cnt i,.sec4-sub4-child:hover .sec4-sub-child-cnt i{
	color:white;
	transition:all .3s ease-in-out;
}
/*service4 sub ended*/
/*service5 started*/

.sec5-heading{
	text-align:center; 
}
.sec5-heading h2{
	display:inline-block;
	position:relative;	
}
.sec5-heading h2::before{
	content:"";
	position:absolute;
	bottom:13px;
	left:-60px;
	height:2px;
	width:55px;
	background-color:#41a1ef;
}
.sec5-heading h2::after{
	content:"";
	position:absolute;
	bottom:13px;
	right:-60px;
	height:2px;
	width:55px;
	background-color:#41a1ef;
}
.sec5-heading p{
	padding:20px 0;
}
 
.sec5-parent{
	display:flex;
	flex-wrap:wrap;
}
.sec5-child{ 
	padding:5px 2px;
	margin:5px;
	
}
.sec5-icon{
	font-size:15px;
	box-shadow:0 0 5px #ccc;
	background-color:#f6f6f6;
	padding:20px;
}
.sec5-icon span{
	font-weight:bold;
}
.sec5-child span{
	padding-left:20px;
}
.sec5-icon:hover{
	background-color:#eef7fc;
	transition:all .3s ease-in-out;
	transform-origin:right;
}
/*section5 ended*/
/*section6 started*/

.sec6-heading{
	text-align:center; 
}
.sec6-heading h2{
	display:inline-block;
	position:relative;	
}
.sec6-heading h2::before{
	content:"";
	position:absolute;
	bottom:13px;
	left:-60px;
	height:2px;
	width:55px;
	background-color:#41a1ef;
}
.sec6-heading h2::after{
	content:"";
	position:absolute;
	bottom:13px;
	right:-60px;
	height:2px;
	width:55px;
	background-color:#41a1ef;
}
.button-href-parent{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
}
.button-href-child a{
	padding:5px 0px;
	text-decoration:none;
	color:black;
	font-size: 16px;
}
.button-href-child .all:hover,.button-href-child .app:hover,.button-href-child .cardd:hover,.button-href-child .web:hover{
	color:white;
	background-color:#41a1ef;
	border-radius:6px;
}
.sec6-btn-all-child{ 
	padding:20px 10px;
	z-index:0;
}
.portfolio-img{
	position: relative;
    overflow: hidden;
    z-index: 1;
}
.portfolio-img img{
	height: 280px;
}
.portfolio-img::before{
    content: "";
    background: rgba(34, 34, 34, 0.6);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
}
.sec6-btn-all-child:hover .portfolio-img::before{
	opacity:1;
}
.portfolio-cnt{
	position:absolute;
	bottom:20px;
	left:20px;
	opacity:0;
}
.sec6-btn-all-child:hover .portfolio-img>img{
	transform:scale(1.1);
	transition:all .5s ease-in-out;
}
.sec6-btn-all-child:hover .portfolio-cnt{
	opacity:1;
	color:white !important;	
	z-index:3;
}
/*all*/
.all > .all-1{
	display:none;
	transition:all .5s ease-in-out;
}
.all > .all-1:target{
	display:flex;
	flex-wrap:wrap;
	transition:0.4s;
}
/*app*/
.app > .all-2{
	display:none;
	transition:all .5s ease-in-out;
}
.app > .all-2:target{
	display:flex;
	flex-wrap:wrap;
	transition:0.4s;
}
/*cardd*/
.cardd > .all-3{
	display:none;
	transition:all .5s ease-in-out;
}
.cardd > .all-3:target{
	display:flex;
	flex-wrap:wrap;
	transition:0.4s;
}
/*web*/
.web > .all-4{
	display:none;
	transition:all .5s ease-in-out;
}
.web > .all-4:target{
	display:flex;
	flex-wrap:wrap;
	transition:0.4s;
}


/* section 7 */
.bg-color-sec-7{
	background-color: #f7fbfe;
}
.sec7-heading{
	text-align:center; 
}
.sec7-heading h2{
	display:inline-block;
	position:relative;	
}
.sec7-heading h2::before{
	content:"";
	position:absolute;
	bottom:13px;
	left:-60px;
	height:2px;
	width:55px;
	background-color:#41a1ef;
}
.sec7-heading h2::after{
	content:"";
	position:absolute;
	bottom:13px;
	right:-60px;
	height:2px;
	width:55px;
	background-color:#41a1ef;
}
.sec7-parent,.sec8-parent{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.sec7-child{
	border-radius: 12px; 
}
.sec-child-cnt{
	background-color: white;
}
.sec7-child-absolute{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: -43px;
	left: 0px;
	right: 0px;
	background-color: rgba(255, 255, 255, 0.85);
	width: 100%;
	padding: 10px 0px;
	opacity: 0;
	transition: all .5s ease;
}
.sec7-child-absolute i:hover{
	color: #3498db;
	transition: .4s;
}
.sec7-child:hover .sec7-child-absolute{
	opacity: 1;
}

/* section 8 */
.sec8-child{
	padding: 10px;
}
.sec8-child{
	background-color: #f9f9f9;
	border-radius: 12px;
}
.sec8-child1{
	border: 1px solid rgb(13, 199, 224);
	border-radius: 12px;
}
.sec8-btn button{
	border: 1px solid rgb(13, 199, 224);
	padding: 10px 15px;
	border-radius: 22px;
	background-color: transparent;
}

/* section10 */
.sec10-parent{
	display: flex;
	flex-wrap: wrap;
	justify-content: center; 
}
.contact-div1-icon i{
	height: 30px;
	width: 30px;
	border: 1px solid rgb(13, 199, 224);
	border-radius: 50%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	color: rgb(13, 199, 224);
	transition: .5s;
}
.contact-div1-icon i:hover{
	background-color: rgb(13, 199, 224);
	color: white;
}
.contact-form input[type="text"],input[type="email"],textarea{
	width: 100%;
	padding: 5px 15px;
	margin: 10px 0px;
}
.contact-form input[type="text"]:focus,input[type="email"]:focus,textarea:focus{
	border: 1px solid rgb(13, 199, 224);
	outline: none;
}
.contact-form button{
	border: 1px solid rgb(13, 199, 224);
	border-radius: 22px;
	color: white;
	background-color: rgb(13, 199, 224);
	padding: 5px 15px;
	margin: 10px 0px;
}
::placeholder{
	font-size: 14px;
	color: gray;
}